[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
xgboost = "*"
pika = "*"
imblearn = "*"
opendatasets = "*"
scikit-optimize = "*"
numpy = "==1.22.3"
seaborn = "*"
pymfe = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
