[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
shap = "*"
pika = "*"
xgboost = "*"
scikit-learn = "*"
sdv = "*"
scikit-optimize = "*"
seaborn = "*"
pymfe = "*"
pymoo = "*"
synthcity = "*"
anonymeter = "*"
numba = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
